{% extends "account/base.html" %}
{% load i18n %}
{% block contents %}
  <h3>{% trans "Verify Your E-mail Address" %}</h3>
  <p>{% blocktrans %}送信されたリンクをクリックし、サインアッププロセスを完了ください。 メインの受信トレイに確認メールが表示されない場合は、メールがアーカイブや削除されていないか、迷惑メールに分類されていないかどうかをご確認ください。{% endblocktrans %}</p>
  <div class="login-panel-section">
    すでにアカウントを持っている? <a style="text-decoration: underline;" href="{% url 'accounts:login' %}">ログイン</a>｜<a style="text-decoration: underline;" href="{% url 'accounts:signup' %}">サインアップ</a>
  </div>
{% endblock %}
